{% extends "base.html" %}

{% block content %}
<form method="post" action="">{% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Apply" />
    <input type="reset" value="Reset" />

</form>

{% endblock %}