{% extends "base.html" %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<p>Return to <a href="{% url 'dashboard' %}">Dashboard</a></p>

{% endblock %}