{% extends "base.html" %}

{% block content %}
<p>View verification details you sent are as follows below. You can <a href="{% url 'verification-update' object.id %}">edit</a>
    if necessary</p>
<p>Twitter Username: {{ object.user }}</p>
<p>First Name: {{ object.firstname }}</p>
<p>Last Name: {{ object.lastname }}</p>

<br>
<p>Return to <a href="{% url 'dashboard' %}">Dashboard</a></p>

{% endblock %}