{% extends 'base.html' %}
{% load bool_extras %}

{% block content %}
<div class="row">
<div class="container line">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="user">
    {{ user.username }}
    <p>EARNINGS: {{ total }}</p>
    <p><a href="{% url 'logout' %}">Logout</a></p>
</div>

<br>
{% if applied|is_false %}
    <p> Your account is not verified. Please <a href="{% url 'verification-apply' %}">apply for account verification</a></p>
     APPLY FOR VERIFICATION
{% endif %}
{% if is_verified|is_false and applied|is_true %}
    <p>Your account is awaiting verification. An email will be sent to you when it is done.</p>
    <p>View verification details <a href="{% url 'verification-details' ver_id%}">here</a></p>
    PLEASE WAIT FOR VERIFICATION. EMAIL WILL BE SENT
{% endif %}

{% if is_verified|is_true and applied|is_true %}

<h4>UPLOAD SONG</h4>
<form method="post" enctype="multipart/form-data" action="{% url 'dashboard' %}">
{% csrf_token %}
{{ audio_form.as_p }}
<input type="submit" value="Upload">
</form>

<br>
<p>Your uploaded songs</p>
<table class="table">
<tr>
    <th>Track</th>
    <th>Edit</th>
    <th>Delete</th>
</tr>
{% for track in my_tracks %}
    <tr>
        <td><a href="#">{{ track.name }} - {{ track.artistes }}</a></td>
        <td><button class="btn-warning">Edit</button></td>
        <td><button class="btn-error">Delete</button></td>
    </tr>
{% endfor %}
</table>
{% endif %}
</div>
</div>
{% endblock %}