{% extends 'base.html' %}
{% block content %}

<div class="row">
<div class="col-lg-2"></div>
<div class="col-lg-8">
{% if user.is_authenticated %}
<div class="user">
LOGGED IN: {{user.username}}
<p><a href="{% url 'logout' %}">Logout</a></p>
</div>
{% else %}

{% endif %}
<p>This page has all songs available for streaming and purchase</p>
<br>
{% if tracks %}
<table class="table table-bordered">
<tr>
    <th>Track</th>
    <th>Stream</th>
    <th>Purchase</th>
</tr>
{% for track in tracks %}
    <tr>
        <td>{{track.name}} - {{track.artistes}}</td>
        <td><button type="button" class="btn btn-default">Play</button></td>
        <td><a href="{% url 'buy' track.id %}"><button type="button" class="btn btn-primary">Buy</button></a></p></td>
    </tr>
{% endfor %}
</table>
{% else %}
    <h3>No tracks added yet.</h3>
{% endif %}
</div>
<div class="col-lg-2"></div>
</div>

{% endblock %}