{% extends 'base.html' %}

{% block content %}
<a href="{% url 'home' %}"><button>Back to song list</button></a>
<div class="col-lg-2"></div>

<div class="col-lg-6">
    <br>
    <hr>
    <br>
    <form role="form">{% csrf_token %}
    <div class="form-group">
        <h3>Song: &nbsp {{ song.name }}</h3>
    </div>
    <p></p>
    <div class="form-group">
    <h4>Artiste: &nbsp{{ song.artistes }}</h4>
    </div>
    <p></p>
    <div class="form-group">
    <h4>Record Label:&nbsp{{ song.record_label }}</h4>
    </div>
    <p></p>
    <div class="form-group">
    <h4>Price: &nbsp Ksh. {{ song.price }}</h4>
    </div>
    <p></p>
    </form>
    {{ form.sandbox }}
    <input type="hidden" name="return" value="http://178.62.209.46:8000/download/{{ song_id }}" />
    <input type='hidden' name='rm' value='2'>
    </form>
</div>


<div class="col-lg-3"></div>

{% endblock %}