{% extends 'base.html' %}

{% block content %}
<br>
<div class="row">
<div class="container">
        <div class="alert-danger">
            <h4>Purchase of song <b>{{ song.name }} - {{ song.artistes }}</b> failed. </h4>
            <h5>This usually means your card balance is low.</h5>
            <h5>Please try again and incase it fails contact your card provider</h5>
        </div>
</div>
</div>

{% endblock %}